<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">

<script src="../../bower_components/highlightjs/highlight.pack.min.js"></script>
<link rel="import" href="../shared-styles.html">

<dom-module id="documentation-view" layout>
    <template>
        <link rel="stylesheet" href="../../bower_components/highlightjs/styles/github.css">
        <style include="shared-styles">
            :host {
                display: block;
                padding: 0 0 0 10px;
                background-color: #eee;
                font-family: "Open Sans", sans-serif !important;
                font-size: 14px;
            }

            /*
            *   Sidebar
            */
            app-drawer {
                --app-drawer-content-container: {
                    background: #fcfcff;
                    padding-top: 120px;
                    padding-bottom: 65px;
                };
                margin-bottom: 55px;
                margin-top: 65px;
                --app-drawer-width: 272px;

                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
            }

            .panel-menus {
                overflow-y: auto;
                height: 100%;
            }

            .panel-menus > h3 {
                border-bottom: 1px solid lightgray;
                padding: 5px 10px;
            }

            .panel-menus > iron-selector a {
                display: block;
                padding: 5px 20px;
                cursor: pointer;
                font-size: 15px;
                margin: 4px 0;
                color: black;
            }

            .panel-menus > iron-selector a.iron-selected {
                border-left: 6px solid rgb(27, 67, 133);
                color: rgb(27, 67, 133);
            }

            /*
            *   Dokumentation
            */
            marked-element {
                padding: 0 25px 50px 25px;
            }

            marked-element h1 {
                font-weight: bold;
            }

            iframe {
                width: 100%;
            }

            app-drawer-layout:not([narrow]) [drawer-toggle] {
                display: none;
            }

            app-drawer-layout marked-element table tbody > tr:nth-child(1) > td:nth-child(1),
            app-drawer-layout marked-element table tbody > tr:nth-child(1) > td:nth-child(3) {
                max-width: 30%;
                min-width: 20%;
            }

            app-drawer-layout marked-element th {
                background-color: #1b4385;
                color: white;
                padding: 15px;
            }

            app-drawer-layout marked-element td {
                padding: 15px;
            }

            app-drawer-layout marked-element table {
                border: 1px solid #1b4385;
                width: 100%;
            }

            app-drawer-layout marked-element table code {
                display: inline;
                word-break: break-all;
            }

            app-toolbar {
                display: inline;
            }

            paper-tabs {
                background-color: #eeeeee;
                --paper-tabs-selection-bar-color: #23527c;
            }

            #center-content {
                max-width: 1024px;
                margin-left: auto;
                margin-right: auto;
                background-color: white;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
            }

            #center-content > h3 {
                color: #000;
                text-align: center;
                padding-top: 20px;
                margin-top: 0;
                margin-bottom: 0;
            }

        </style>

        <app-route route="{{route}}" pattern="/:fileName" data="{{routeData}}"></app-route>

        <app-drawer-layout narrow="{{narrow}}">
            <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
                <div class="panel-menus">
                    <h3 style="text-align: left">Basics</h3>
                    <iron-selector selected="{{routeData.fileName}}" attr-for-selected="name"
                                   class="drawer-list" role="navigation">
                        <template is="dom-repeat" items="{{basics}}">
                            <a name="{{item.markdownFileName}}">{{item.title}}</a>
                        </template>
                    </iron-selector>

                    <h3 style="text-align: left">Navigation</h3>
                    <iron-selector selected="{{routeData.fileName}}" attr-for-selected="name" class="drawer-list"
                                   role="navigation">
                        <template is="dom-repeat" items="{{navigation}}">
                            <a name="{{item.markdownFileName}}">{{item.title}}</a>
                        </template>
                    </iron-selector>

                    <h3 style="text-align: left">More Features</h3>
                    <iron-selector selected="{{routeData.fileName}}" attr-for-selected="name" class="drawer-list"
                                   role="navigation">
                        <template is="dom-repeat" items="{{moreFeatures}}">
                            <a name="{{item.markdownFileName}}">{{item.title}}</a>
                        </template>
                    </iron-selector>
                </div>
            </app-drawer>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>

            <div id="center-content">
                <h3>[[routeData.fileName]]</h3>
                <app-toolbar sticky class="medium-tall">
                    <paper-tabs selected="{{selectedTab}}">
                        <paper-tab>Documentation</paper-tab>
                        <paper-tab>Demo</paper-tab>
                        <paper-tab>Api</paper-tab>
                    </paper-tabs>
                </app-toolbar>

                <iron-pages selected="{{selectedTab}}" attr-for-selected="name">

                    <!--Dokumentation-->
                    <marked-element on-syntax-highlight="_addHiglightJs" name="0">
                        <div slot="markdown-html">
                            <script type="text/markdown" src="{{markdownFile}}"></script>
                        </div>
                    </marked-element>

                    <!--Demo-->
                    <div id="demo" name="1">
                        <!--<h2 style="border-bottom: 1px solid lightgray;margin-bottom: 10px;padding-bottom: 5px;">Demo</h2>-->
                        <iframe src="[[demoFilePath]]" frameborder="0" height="800px"></iframe>
                    </div>

                    <!--API-->
                    <div id="api" name="2">
                        <!--<h2>{{markdownApiFile}}</h2>-->
                        <marked-element on-syntax-highlight="_addHiglightJs" name="0">
                            <div slot="markdown-html">
                                <script type="text/markdown" src="{{markdownApiFile}}"></script>
                            </div>
                        </marked-element>
                    </div>
                </iron-pages>
            </div>

        </app-drawer-layout>
    </template>

    <script>
        class DocumentationView extends Polymer.Element {
            static get is() {
                return 'documentation-view';
            }

            static get properties() {
                return {
                    fileName: {
                        type: String,
                        reflectToAttribute: true
                    },
                    markdownFile: {
                        type: String,
                        computed: "_getFileLocation(routeData.fileName)"
                    },
                    markdownApiFile: {
                        type: String,
                        computed: "_getApiFileLocation(routeData.fileName)"
                    },
                    demoFilePath: {
                        type: String,
                        computed: "_getDemoFilePath(routeData.fileName)"
                    },
                    route: {
                        type: Object,
                        notify: true
                    },
                    selectedTab: {
                        type: Number,
                        value: 0
                    },
                    routeData: {
                        type: Object
                    }
                };
            }

            _addHiglightJs(event) {
                let code = event.detail.code;
                let language = event.detail.lang;
                // Check whether the given language is valid for highlight.js.
                const validLang = !!(language && hljs.getLanguage(language));
                // Highlight only if the language is valid.
                const highlighted = validLang ? hljs.highlight(language, code).value : code;
                // Render the highlighted code with `hljs` class.
//                event.detail.code = `<pre><code class="hljs ${language}">${highlighted}</code></pre>`;
                event.detail.code = `${highlighted}`;
            }

            _getDemoFilePath(fileName) {
                return "http://web-components.fact-finder.de/demos/1.2.2/" + fileName;
            }

            _getFileLocation(fileName) {
                return "markdown/en/" + fileName + ".md";
            }

            _getApiFileLocation(fileName) {
                return "markdown/en/api/" + fileName + ".api.md";
            }

            connectedCallback() {
                super.connectedCallback();
                this.apiReferences = [];

                this.basics = [{
                    title: "Searchbox",
                    markdownFileName: "ff-searchbox"
                }, {
                    title: "Record List",
                    markdownFileName: "ff-record-list"
                }, {
                    title: "Suggest",
                    markdownFileName: "ff-suggest"
                }];

                this.navigation = [{
                    title: "Breadcrumb",
                    markdownFileName: "ff-breadcrumb-trail"
                }, {
                    title: "Facets (ASN)",
                    markdownFileName: "ff-asn"
                }, {
                    title: "Navigation",
                    markdownFileName: "ff-navigation"
                }, {
                    title: "Header Navigation",
                    markdownFileName: "ff-header-navigation"
                }, {
                    title: "Paging",
                    markdownFileName: "ff-paging"
                }, {
                    title: "Paging Dropdown",
                    markdownFileName: "ff-paging-dropdown"
                }, {
                    title: "Products Per Page",
                    markdownFileName: "ff-products-per-page"
                }, {
                    title: "Sortbox",
                    markdownFileName: "ff-sortbox"
                }];

                this.moreFeatures = [{
                    title: "Campaign",
                    markdownFileName: "ff-campaign"
                }, {
                    title: "Pushed Products",
                    markdownFileName: "ff-campaign-pushed-products"
                }, {
                    title: "Landing Page Campaign",
                    markdownFileName: "ff-campaign-landing-page"
                }, {
                    title: "Shopping Cart Campaign",
                    markdownFileName: "ff-campaign-shopping-cart"
                }, {
                    title: "Product Campaign",
                    markdownFileName: "ff-campaign-produc"
                }, {
                    title: "Search Feedback",
                    markdownFileName: "ff-search-feedback"
                }, {
                    title: "Recommendation",
                    markdownFileName: "ff-recommendation"
                }, {
                    title: "Compare",
                    markdownFileName: "ff-compare"
                }, {
                    title: "Similar Products",
                    markdownFileName: "ff-similar-products"
                }, {
                    title: "Single Word Search",
                    markdownFileName: "ff-single-word-serach"
                }, {
                    title: "Carousel",
                    markdownFileName: "ff-carousel"
                }, {
                    title: "Tag Cloud",
                    markdownFileName: "ff-tag-cloud"
                }, {
                    title: "Template",
                    markdownFileName: "ff-template"
                }];
            }
        }

        window.customElements.define(DocumentationView.is, DocumentationView);
    </script>
</dom-module>
