<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400' type='text/css'>
<link rel="stylesheet" href="../../bower_components/components-font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="import" href="../search/sdSearchBox.html"/>
<link rel="import" href="../search/sdRecordList.html"/>
<link rel="import" href="../shared-styles.html">

<dom-module id="search-view">
    <template>
        <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <div class="container theme-showcase" role="main" style="padding-top: 40px;">
            <sd-record-list id="sd-record-list" records-text="[[recordsText]]"
                            records-api="[[recordsApi]]" query="[[query]]"></sd-record-list>
        </div>
    </template>
</dom-module>

<script>
    class SearchView extends Polymer.Element {

        static get is() {
            return "search-view";
        }

        static get properties() {
            return {
                recordsText: {
                    type: Array
                },
                recordsApi: {
                    type: Array
                },
                query: {
                    type: String
                }
            }
        }
    }

    customElements.define(SearchView.is, SearchView);

</script>
